.background {
    background-image: url('https://brave.com/static-assets/images/brave-logo-text-only.svg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}

h1 {
    font-family: 'Times New Roman', sans-serif;
}

p {
    font-family: sans-serif;
}

li.nav-item.dropdown {
    font-size: 12px;   
}